<section widget class="widget">
  <header>
    <h5>Cotações <span class="fw-semi-bold">Realizadas</span></h5>
  </header>
  <div class="widget-body">
    <table #tb2 class="table table-bordered table-lg mt-lg mb-0">
      <thead>
        <tr> 
          <th class="text-left">Número da Cotação</th>
          <th class="text-left">Produto</th>
          <th>Data de Cálculo</th>
          <th class="text-left">Data de Vigência Inicial</th>
          <th class="text-left">Data de Vigência Final</th>
          <th class="text-left">Descrição</th>
          <th class="text-left">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let cotacao of cotacoes'>
          <td>{{cotacao.numCotacao}}</td>
          <td>Automóvel</td>
          <td>{{cotacao.dataCalculo | dataFilter}}</td>
          <td>{{cotacao.dataVigenciaInicial | dataFilter}}</td>
          <td>{{cotacao.dataVigenciaFinal | dataFilter}}</td>
          <td>ONIX HATCH EFFECT 1.4 8v SPE/4(Flex) A/G 4p</td>
          <td>button</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
</section>