<div class="container">
  <br/>
  <app-menu-cotacao></app-menu-cotacao>
  <br/><br/>
  <div class="row">
    <div class="col-md-9">
      <div class="col-xl-7 col-xl-offset-1">
        <section class="widget">
          <header>
            <h4>
              <i class="fa fa-windows"></i> Cotação Automóvel
            </h4>
          </header>
          <legend class="section">
          </legend>
          <div class="widget-body">
            <form class="form-horizontal form-label-left parsleyjs" novalidate (ngSubmit)="adicionarCotacao()" [formGroup]="cotacaoForm">
              <wizard navBarLayout="large-filled-symbols">
                <wizard-step title="Seguro / Segurado" navigationSymbol="1">
                  <br/>
                  <section class="invoice-info well">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title">Dados do Seguro</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset>
                    <div class="form-group row">
                      <label class="col-form-label text-md-right col-md-3" for="username"> <font face="Eagle Lake"> Tipo de Seguro</font></label>
                      <div class="form-group row" style="width: 330px; margin-left: 0px; margin-bottom: 0px; ">
                        <div class="col-sm-12">
                          <ng-select #SelectTipoSeguroId [allowClear]="true" [items]="items" [disabled]="disabled" placeholder="Selecione" formControlName="tipoSeguroId"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Tipo de Cálculo</font></label>
                        <div class="form-group row" style="width: 330px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectTipoCalculoId [allowClear]="true" [items]="items" [disabled]="disabled" placeholder="Selecione" formControlName="tipoCalculoId"
                              (selected)="changeSourceTC($event.id)" (removed)="removeSourceTC($event)"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Vigência Inicial</font></label>
                        <my-date-picker name="dataVigenciaInicial" [options]="myDatePickerOptions" formControlName="dataVigenciaInicial" [disabled]="disabled"></my-date-picker>
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Vigência Final</font></label>
                        <my-date-picker name="dataVigenciaFinal" [options]="myDatePickerOptions" formControlName="dataVigenciaFinal" [disabled]="disabled"></my-date-picker>
                      </div>
                    </div>
                  </fieldset>
                  <section class="invoice-info well">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title">Dados do Segurado</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset>
                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Nome </font></label>
                        <input type="text" id="nome" class="form-control" placeholder="Nome" formControlName="nome" [maxLength]="15" />
                      </div>
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Sobrenome </font></label>
                        <input type="text" id="sobrenome" class="form-control" placeholder="Sobrenome" formControlName="sobrenome" [maxLength]="45"
                        />
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Data de Nascimento </font></label>
                        <my-date-picker name="dataNascimento" [options]="myDatePickerOptions" formControlName="dataNascimento"></my-date-picker>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> CPF </font></label>
                        <input type="text" id="cpf" class="form-control" placeholder="CPF" formControlName="cpf" [textMask]="{mask: maskCPF}" />
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> RG  </font></label>
                        <input type="text" id="rg" class="form-control" placeholder="RG" formControlName="rg" [textMask]="{mask: maskRG}" />
                      </div>
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> E-Mail </font></label>
                        <input type="text" id="email" class="form-control" placeholder="E-Mail" formControlName="email" [maxLength]="45" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Pais</font></label>
                        <div class="form-group row" style="width: 180px; margin-left: 0px; margin-bottom: 0px; ">
                          <ng-select #SelectPaisResidenciaId [allowClear]="true" [items]="items" [disabled]="disabled" placeholder="Selecione" formControlName="paisResidenciaId"></ng-select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Profissão</font></label>
                        <div class="form-group row" style="width: 330px; margin-left: 0px; margin-bottom: 0px; ">
                          <ng-select #SelectProfissaoId [allowClear]="true" [items]="items" [disabled]="disabled" placeholder="Selecione" formControlName="profissaoId"></ng-select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Telefone/Celular </font></label>
                        <input type="text" id="telefone" class="form-control" placeholder="Telefone/Celular" formControlName="telefone" [textMask]="{mask: maskFone}"
                        />
                      </div>
                    </div>
                  </fieldset>
                  <section class="invoice-info well">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title">Endereço</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset>
                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> CEP </font></label>
                        <input type="text" id="cep" class="form-control" placeholder="CEP" formControlName="cep" [(ngModel)]="meuCEP" (blur)="onBlurCEP()"
                          [textMask]="{mask: maskCEP}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-5">
                        <label class="font-noraml"><font face="Eagle Lake"> Logradouro </font></label>
                        <input type="text" id="logradouro" class="form-control" placeholder="Logradouro" disabled="disabled" formControlName="logradouro"
                          [(ngModel)]="logradouro" />
                      </div>
                      <div class="col-sm-5">
                        <label class="font-noraml"><font face="Eagle Lake"> Complemento </font></label> <span class="label label-info">Opcional</span>
                        <input type="text" id="complemento" class="form-control" placeholder="Complemento" disabled="disabled" formControlName="complemento"
                          [maxLength]="40" />
                      </div>
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> Numero </font></label>
                        <input type="text" id="numero" class="form-control" placeholder="Numero" disabled="disabled" formControlName="numero" OnlyNumber="true"
                          [maxLength]="5" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <label class="font-noraml"><font face="Eagle Lake"> Bairro </font></label>
                        <input type="text" id="bairro" class="form-control" placeholder="Bairro" disabled="disabled" formControlName="bairro" />
                      </div>
                      <div class="col-sm-4">
                        <label class="font-noraml"><font face="Eagle Lake"> Cidade </font></label>
                        <input type="text" id="cidade" class="form-control" placeholder="Cidade" disabled="disabled" formControlName="cidade" />
                      </div>
                      <div class="col-sm-4">
                        <label class="font-noraml"><font face="Eagle Lake"> Estado </font></label>
                        <input type="text" id="estado" class="form-control" placeholder="Estado" disabled="disabled" formControlName="estado" />
                      </div>
                    </div>
                  </fieldset>
                  <div class="form-actions">
                    <ul class="pager wizard">
                      <li class="previous">
                        <button type="button" class="btn btn-primary" goToStep="2"><i class="fa fa-caret-left"></i> Anterior</button>
                      </li>
                      <li class="next">
                        <button type="button" class="btn btn-primary" nextStep>Próximo <i class="fa fa-caret-right"></i></button>
                      </li>
                    </ul>
                  </div>
                </wizard-step>
                <wizard-step title="Veículo" optionalStep navigationSymbol="2">
                  <br/>
                  <section class="invoice-info well">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title">Dados do Veículo</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset>
                    <div class="form-group row">
                      <label class="col-form-label text-md-right col-md-3" for="username"> <font face="Eagle Lake"> Marca / Fabricante</font></label>
                      <div class="form-group row" style="width: 330px; margin-left: 0px; margin-bottom: 0px; ">
                        <div class="col-sm-12">
                          <ng-select #SelectMarcaId [allowClear]="true" [items]="items" [disabled]="buscaVeiculo" placeholder="Selecione" formControlName="marcaId"
                            (selected)="changeSourceMarca($event)" (removed)="removeSourceMarca($event)"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Modelo </font></label>
                        <input type="text" formControlName="nomeModelo" [typeahead]="listModelos" typeaheadOptionsLimit="7" typeaheadMinLength="1"
                          placeholder="Selecione um Modelo" class="form-control" />
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Ano de Fabricação</font></label>
                        <div class="form-group row" style="width: 200px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectAnoFabricacao [allowClear]="true" [items]="anos" [disabled]="buscaVeiculo" placeholder="Selecione" formControlName="anoFabricacao"
                              (selected)="changeSourceAnoFab($event)" (removed)="removeSourceAnoFab($event)"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Ano do Modelo</font></label>
                        <div class="form-group row" style="width: 200px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectAnoModelo [allowClear]="true" [items]="items" [disabled]="buscaVeiculo" placeholder="Selecione" formControlName="anoModelo"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Zero KM?</font></label>
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" class="styled styled-primary" id="flagZeroKm" value="option2" aria-label="Single checkbox Two" [(ngModel)]="flagZeroKm"
                            formControlName="flagZeroKm" (change)="zeroKmChanged($event)">
                          <label></label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <button type="button" class="btn btn-info" id="btnBuscarVeic" [disabled]="buscaVeiculo" (click)="buscarVeiculos($event)">Buscar Veículo</button>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="errorsVeic.length > 0 && !buscaVeiculo">
                      <div class="col-sm-12">
                        <i class="fa fa-warning"></i> <span style="color:red"> Aviso: {{errorsVeic}} </span>
                      </div>
                    </div>
                  </fieldset>
                  <section class="invoice-info well" *ngIf="buscaVeiculo">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title" *ngIf="!flagVeiculoSelecionado">Resultado - Veículos</h4>
                        <h4 class="details-title" *ngIf="flagVeiculoSelecionado">Veículo</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset *ngIf="buscaVeiculo && !flagVeiculoSelecionado">
                    <table class="table table-bordered" [mfData]="data | dataFilter" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" *ngIf="data.length > 0">
                      <thead>
                        <tr>
                          <th style="width: 70%">Descrição</th>
                          <th style="width: 20%">Valor</th>
                          <th style="width: 10%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of mf.data">
                          <td>{{item.descricao}} {{item.anoFabricacao}}/{{item.anoModelo}}</td>
                          <td>{{item.valor | moeda}}</td>
                          <td>
                            <button type="button" class="btn btn-success" id="btnSelectVeic" (click)="selecionaVeiculo($event, item.modeloId)">>></button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                    <div class="form-group row" *ngIf="errorsVeic.length > 0">
                      <div class="col-sm-12">
                        <i class="fa fa-warning"></i> <span style="color:red"> Aviso: {{errorsVeic}} </span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <button type="button" class="btn btn-danger" id="btnBackSelectVeic" (click)="retornaPesquisa($event)">Nova Pesquisa</button>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset *ngIf="flagVeiculoSelecionado">
                    <div class="form-group row" data-id="modelos.modeloId">
                      <div class="col-sm-3">
                        <span><img class="icon" [src]="'assets/img/marcas/' + modelos.marca.imagem" alt="Electricity" width="100" height="70"></span>
                      </div>
                      <div class="col-sm-6">
                        <font face="Palatino Linotype" size="3">
                          {{modelos.descricao}} {{modelos.anoFabricacao}}/{{modelos.anoModelo}} R$: {{modelos.valor | moeda}}
                        </font>
                      </div>
                      <div class="col-sm-3">
                        <button type="button" class="btn btn-danger" id="btnBackSelectVeic" (click)="retornaPesquisa($event)">Nova Pesquisa</button>
                      </div>
                    </div>
                  </fieldset>
                  <section class="invoice-info well">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title">Informações Adicionais</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset>
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <label class="font-noraml"><font face="Eagle Lake"> Chassi </font></label> <span class="label label-info">Opcional</span>
                        <input type="text" id="numChassi" class="form-control" placeholder="Número Chassi" formControlName="numChassi" maxlength="20"
                          OnlyNumber="true" />
                      </div>
                      <div class="col-sm-8">
                        <label class="font-noraml"><font face="Eagle Lake"> Chassi Remarcado?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagRemarcado" formControlName="flagRemarcado">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagRemarcado" formControlName="flagRemarcado">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="flagZeroKm">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Data de Saída </font></label>
                        <input type="text" id="dataSaida" class="form-control" placeholder="Data de Saída" formControlName="dataSaida" [textMask]="{mask: maskDate}"
                        />
                      </div>
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> Odômetro </font></label>
                        <input type="text" id="odometro" class="form-control" placeholder="Odomêtro" formControlName="odometro" [textMask]="{mask: maskKm}"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <label class="font-noraml"><font face="Eagle Lake"> Uso?</font></label>
                        <div class="form-group row" style="width: 280px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectUsoId [allowClear]="true" [items]="items" [disabled]="disabled" placeholder="Selecione" formControlName="usoId"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <label class="font-noraml"><font face="Eagle Lake"> Isenção de Imposto?</font></label>
                        <div class="form-group row" style="width: 300px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectImpostoId [allowClear]="true" [items]="items" [disabled]="disabled" placeholder="Selecione" formControlName="impostoId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="form-actions">
                    <ul class="pager wizard">
                      <li class="previous">
                        <button type="button" class="btn btn-primary" previousStep><i class="fa fa-caret-left"></i> Anterior</button>
                      </li>
                      <li class="next">
                        <button type="button" class="btn btn-primary" nextStep>Próximo <i class="fa fa-caret-right"></i></button>
                      </li>
                    </ul>
                  </div>
                </wizard-step>
                <wizard-step title="Questionário" navigationSymbol="3">
                  <br/>
                  <section class="invoice-info well">
                    <div class="row">
                      <div class="col-sm-6 col-print-6">
                        <h4 class="details-title">Questionário do Veículo</h4>
                      </div>
                    </div>
                  </section>
                  <fieldset>
                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="font-noraml"><font face="Eagle Lake"> CEP onde o veículo pernoita? </font></label>
                        <input type="text" id="cepPernoite" class="form-control" placeholder="CEP" formControlName="cepPernoite" [textMask]="{mask: maskCEP}"
                        />
                      </div>
                      <div class="col-sm-9">
                        <label class="font-noraml"><font face="Eagle Lake"> Relação do Segurado com o Proprietário Legal do Veículo?</font></label>
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectRelacaoSeguradoId [allowClear]="true" placeholder="Selecione" formControlName="relacaoSeguradoId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Veículo alienado ou financiado?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagAlienado" formControlName="flagAlienado">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagAlienado" formControlName="flagAlienado">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Veículo blindado?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagBlindado" formControlName="flagBlindado">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagBlindado" formControlName="flagBlindado">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Veículo adaptado para deficiente físico?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagAdaptadoDeficiente" formControlName="flagAdaptadoDeficiente">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagAdaptadoDeficiente" formControlName="flagAdaptadoDeficiente">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="font-noraml"><font face="Eagle Lake"> Possui Kit Gás?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagKitGas" formControlName="flagKitGas">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagKitGas" formControlName="flagKitGas">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="font-noraml"><font face="Eagle Lake"> O veículo segurado possui dispositivo anti-furto, rastreador, bloqueador ou localizador instalado e ativado?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagAntiFurto" formControlName="flagAntiFurto" (click)="verificarAntiFurto(true)">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagAntiFurto" formControlName="flagAntiFurto" (click)="verificarAntiFurto(false)">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="antiFurtoSelecionado">
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> Rastreadores / Localizadores</font></label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectRastreadorId [allowClear]="true" placeholder="Selecione" formControlName="rastreadorId" (selected)="changeRastreador($event.id)"
                              (removed)="removeRastreador()"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="antiFurtoSelecionado && rastreadorSelecionado">
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> Propriedade do Rastreador?</font></label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectPropRastreadorId [allowClear]="true" placeholder="Selecione" formControlName="propriedadeRastreadorId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="antiFurtoSelecionado">
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> Dispositivo Anti-Furto Comum</font></label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectAntiFurtoId [allowClear]="true" placeholder="Selecione" formControlName="antiFurtoId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="font-noraml"><font face="Eagle Lake"> Existe garagem ou estacionamento fechado para o veículo?</font></label>
                        <div class="col-sm-12">
                          <div class="radio radio-info radio-inline">
                            <input type="radio" value="true" name="flagGararem" formControlName="flagGararem" (click)="verificarGaragem(true)">
                            <label for="inlineRadio1"> Sim </label>
                          </div>
                          <div class="radio radio-inline radio-danger">
                            <input type="radio" value="false" name="flagGararem" formControlName="flagGararem" (click)="verificarGaragem(false)">
                            <label for="inlineRadio2"> Não </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="garagemSelecionado">
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> Na Residência?</font></label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectGarResidenciaId [allowClear]="true" placeholder="Selecione" formControlName="gararemResidenciaId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="garagemSelecionado">
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> No Trabalho?</font></label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectGarTrabalhoId [allowClear]="true" placeholder="Selecione" formControlName="gararemTrabalhoId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="garagemSelecionado">
                      <div class="col-sm-2">
                        <label class="font-noraml"><font face="Eagle Lake"> No Colégio / Faculdade?</font></label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-group row" style="width: 400px; margin-left: -15px; margin-bottom: 0px; ">
                          <div class="col-sm-12">
                            <ng-select #SelectGarFaculdadeId [allowClear]="true" placeholder="Selecione" formControlName="garagemFaculdadeId"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="form-actions">
                    <ul class="pager wizard">
                      <li class="previous">
                        <button type="button" class="btn btn-primary" previousStep><i class="fa fa-caret-left"></i> Anterior</button>
                      </li>
                      <li class="next">
                        <button type="button" class="btn btn-primary" nextStep>Próximo <i class="fa fa-caret-right"></i></button>
                      </li>
                      <button type="submit" class="btn btn-danger">Validate &amp; Submit</button>
                    </ul>
                  </div>
                </wizard-step>
                <wizard-step title="Title of step 4" navigationSymbol="4">
                  Content of Step 4
                  <button type="button" previousStep>Previous Step</button>
                  <button type="button">Finish</button>
                </wizard-step>
                <wizard-step title="Title of step 5" navigationSymbol="5">
                  Content of Step 5
                  <button type="button" previousStep>Previous Step</button>
                  <button type="button">Finish</button>
                </wizard-step>
              </wizard>
            </form>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-xl-7 col-xl-offset-1">
        <section widget class="widget">
          <header>
            <h4>
              <i class="fa fa-windows"></i> Resumo do Seguro
            </h4>
          </header>
          <br />
          <div class="form-group row">
            <div class="col-sm-6">
              <label class="font-noraml"><font face="Eagle Lake"> <b> Nº da Cotação: </b></font></label>
            </div>
            <div class="col-sm-6">
              <p class="text-muted">{{numCotacao}}</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-9" *ngIf="errors.length > 0">
      <div class="col-xl-7 col-xl-offset-1">
        <section widget class="widget-body">
          <div class="widget-body">
            <div class="alert alert-danger">
              <header>
                <h4>
                  <i class="fa fa-windows"></i> Aviso: Os seguintes erros foram encontrados
                </h4>
              </header>
              <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>