<div class="content">
  <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-landing" data-slide-to="1" class=""></li>
      <li data-target="#carousel-landing" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-xs-6">
            <div [ngSwitch]="usuarioLogado()" class="animated fadeInLeftBig">
              <h1 *ngSwitchCase="false" class="slide-one-header"><strong>Registre-se</strong> e <br>Faça sua cotação de um seguro ficticio</h1>
              <h1 *ngSwitchCase="true" class="slide-one-header">Faça sua cotação de um seguro ficticio</h1>
              <div *ngSwitchCase="true" class="col-xs-12">
                <p class="preview text-align-right">
                  <a [routerLink]="['/dashboard']" class="btn btn-lg btn-success"> &nbsp; Clique aqui ! &nbsp;</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="text-align-center animated fadeInRightBig">
              <img src="assets/img/light-blue-preview-1.png" alt="Second slide">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h1 class="slide-two-header text-align-center animated fadeInDown">
          <strong>Transparent</strong> & <strong>White</strong> Versions
        </h1>
        <div class="row">
          <div class="col-xs-6">
            <div class="animated fadeInLeftBig">
              <p>
                <a href="index.html">
                  <img src="" alt="" />
                </a>
              </p>
              <p class="text-align-center">
                <a href="index.html" class="btn btn-transparent btn-lg btn-version-preview">
                                                    Preview &nbsp; <i class="fa fa-angle-right"></i>
                                                </a>
              </p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="animated fadeInRightBig">
              <p>
                <a href="../white/index.html">
                  <img src="" alt="" />
                </a>
              </p>
              <p class="text-align-center">
                <a href="../white/index.html" class="btn btn-white btn-lg btn-version-preview">
                                                    Preview &nbsp; <i class="fa fa-angle-right"></i>
                                                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-6">
            <div class="animated fadeInLeft">
              <h1 class="slide-three-header">
                <strong>Fully</strong>
                <br> Responsive
              </h1>
              <p>
                <a href="http://www.responsinator.com/?url=demo.flatlogic.com%2F3.0" class="btn btn-white btn-lg" target="_blank">
                                                    Test It
                                                </a>
              </p>
            </div>
          </div>
          <div class="col-xs-6">
            <p class="animated fadeInUp" style="margin-top: 20px">
              <img src="" alt="" />
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control carousel-control-landing" href="#carousel-landing" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control carousel-control-landing" href="#carousel-landing" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>