<div class="content">
  <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-landing" data-slide-to="1" class=""></li>
      <li data-target="#carousel-landing" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-xs-6">
            <div [ngSwitch]="usuarioLogado()" class="animated fadeInLeftBig">
              <h1 *ngSwitchCase="false" class="slide-one-header"><strong>Registre-se</strong> e <br>Faça sua cotação de um seguro ficticio</h1>
              <h1 *ngSwitchCase="true" class="slide-one-header">Faça sua cotação de um seguro ficticio</h1>
              <div *ngSwitchCase="true" class="col-xs-12">
                <p class="preview text-align-right">
                  <a [routerLink]="['/cotacoes']" class="btn btn-lg btn-success"> &nbsp; Clique aqui ! &nbsp;</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="text-align-center animated fadeInRightBig">
              <img src="assets/img/light-blue-preview-1.png" alt="Second slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>