<h3 class="thanks text-align-center">Creating by Felipe Fernandes</h3>
<p class="lead text-align-center">
  <a href="https://www.linkedin.com/in/felipe-fernandes-fca/" class="btn btn-sm btn-success">
    <i class="fa fa-linkedin"></i> Linkedin
  </a>
</p>
<p class="lead text-align-center">
  <a href="https://github.com/felipefca" class="btn btn-sm btn-warning">
    <i class="fa fa-github"></i> GitHub
  </a>
</p>
<p class="lead text-align-center">
  <a href="http://exemplotesteseguros.azurewebsites.net" class="btn btn-sm btn-transparent">
    <i class="fa fa-cloud"></i> Versão do sistema em ASPNet MVC 5
  </a>
</p>

<p class="lead text-align-center"><a class="back-to-top" href="#"> back to top <i class="fa fa-angle-up"></i></a></p>